/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

html, body {
    height: 100%;
}

body {
    background-color: #F1F1F1;
    font-family: Inconsolata, monospace;
    font-size: 20px;
    color: #070707;
    margin: 0px;
}

button {
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="text"] {
    background: transparent;
    border: none;
    box-shadow: none;
    font-family: 'Inconsolata', monospace;
}

#wrapper {
    min-height: 100%;
    display: flex;
}

#sidebar {
    width: 10em;
    padding: 2em;
}

.control-panel {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.control-panel a {
    margin-bottom: 0.5em;
}

.control-panel a::before {
    content: ":";
}

.control-panel a:hover {
    cursor: pointer;
}

#tidspace {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.tid {
    width: 560px;
    display: flex;
    align-items: center;
    padding: 2em;
    height: 40px;
    margin: 1em;
    border: 1px dashed #070707;
    background-color: #F1F1F1;
    position: relative;
}

.tid.playing {
    border-style: solid;
}

.tid.finished {
    border-color: #F1F1F1;
    border-style: solid;
    filter: invert(100%);
}

.tid .tid-id {
    position: absolute;
    bottom: 5px;
    left: 5px;
    opacity: 0.5;
}

.tid .tid-time {
    margin-right: 1em;
    padding-right: 1em;
    border-right: 1px solid #070707;
    font-size: 36px;
    display: flex;
}

.tid .tid-time input[type="text"] {
    font-size: 36px;
    width: 40px;
    color: #070707;
}

.tid .tid-title {
    flex-grow: 1;
}

.tid .tid-title input {
    font-size: 24px;
}

.tid .tid-control {
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: space-between;
    height: 83px;
}

.tid .tid-control .control-item {
    text-align: center;
}

#console {
    background-color: #070707;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5em 2em;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    color: #F1F1F1;
    flex-direction: column;
}

#console input[type="text"] {
    font-size: 20px;
    color: #F1F1F1;
    flex-grow: 1;
}

#console span#prefix::before {
    content: ":";
}

#console input:focus{
    outline: none;
}

#console .console-element {
    width: 100%;
    display: flex;
}

#console #console-output {
    white-space: pre;
}

#console #console-output .header {
    font-weight: bold;
}


button.play-icon {
  background-image: url('/play.png');
}

button.pause-icon {
  background-image: url('/pause.png');
}

button.close-icon {
  background-image: url('/close.png');
}